.container{
    width: 80%;
    text-align: center;
    
    height: 500px;
}
.place1{
    height: 300;
    width: 500;
    
}
.place2{
    height: 300;
    width: 500;
    
}
.place3{
    height: 300;
    width: 500;
    
}